@import "../utils/_mixins.scss";
@import "../utils/_couleurs.scss";
@import "../utils/_variables.scss";


/*Main : Fonctionnement*/
.fonctionnement {
    padding: 2rem 1rem;
}
.fonctionnement-conteneur{
    max-width: 1280px;
    margin: auto;
    position: relative; 
    &-titre {
        margin-top: 0;
    }
}
.fonctionnement-demarches {
    margin: 0;
    padding: 0;
    gap: 1rem;
    list-style: none;
    display: flex;
    @media (max-width: $breakpoint) {
        flex-direction: column;
        gap: 0;
        
    }
      
}
.fonctionnement-demarche {
    background-color: $couleur-background;
    border-radius: 1.25rem;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
    margin: 1rem 0 1rem .75rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;  
    & span {
        margin-right: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        color: white;
        display: grid;
        place-items: center;
        border-radius: 50%;
        background-color: $couleur-primaire;
        position: absolute;
        left: -0.5rem;
    }
    & i {
        
        margin-left: 1rem;
    }
    
    & i:hover {
        color: $couleur-primaire;
    }
    
    &-titre {
        padding: 0.5rem;
        margin-right: 2.5rem;
    }
}