@import "../utils/_variables.scss";
@import "../utils/mixins";
@import "../utils/couleurs";

/*Main : Restaurants*/

.restaurants {
    padding: 2rem 1rem;
    background-color: #f6f6f6;  
}
.conteneur {
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.restaurants-conteneur {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    @media (max-width: 800px) {
        grid-template-columns: repeat(1,1fr);
        
    }
}

.carte {
    background-color: #fff;
    border-radius: 1rem;
  
    width: 100%;
    margin: 15px auto;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
    position: relative;
    &-lien {
        position: relative;
        text-decoration: none;
        color: inherit;
        display: block;
    }
    &-image {
        height: 12rem;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        object-fit: cover;
    }
    &-badge {
        background-color: $couleur-tertiaire;
        color: $couleur-etiquette;
        padding: 0.5rem;
        border-radius: 0.13rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
    }
    &-footer {
        padding: 1rem;
        position: relative;
        display: flex;
        align-items: center;
    }
    &-footer-detail {
       flex: 1;
    }
    &-footer-detail-titre {
        margin: 0 0 0.25rem;
    }
    &-footer-detail-sous-titre {
        margin: 0;
    }
    &-footer-coeur {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;   
        & i {
            font-size: 2rem;
            position: absolute;
            right: 1rem;
        }
        .fas {
            color: transparent;
            background-image: linear-gradient(0deg,rgba(147,86,220, 1),rgba(255,121,218, 1));
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 200ms ease-in-out;
        }
        &:hover .fas {
            opacity: 1;
            transform: scale(1.1);
        }    
    }
}
