@import "../utils/mixins.scss";



/*Main : Recherche*/

.recherche {
    text-align: center;
    padding: 2rem;
    background-color: #f6f6f6;
    & p {
        font-weight: 300;
    }
    & button {
        @include base-bouton;
        @include base-shadow;
    }
    
}