
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$couleur-background: #f6f6f6;
$couleur-etiquette: #1b6150;
$couleur-footer: #353535;
$couleur-fonctionnement: #f2eafb;